[Unit]
Description=Factorio Server
Wants=network-online.target
After=network.target network-online.target
Requires=network.target network-online.target

[Service]
User=root
Group=root

# We will store a pid file in your ${WRITE_DIR}/server.pid
# Adjust if you change the write dir of your server
PIDFile=/opt/factorio/server.pid

Type=forking
TimeoutStartSec=30
ExecStart=/opt/factorio-init/update-and-start
TimeoutStopSec=30
ExecStop=/opt/factorio-init/shutdown
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
